@import "./../services/consatants.scss";
@import "./../services/placeholders.scss";
@import "./../services/mixins.scss";

.main-menu {
  @extend %display-flex;
  @include flex-shrink(0);
  align-items: center;
  background-color: $orange;
  justify-content: center;
  padding: .7em 0;
  * {
    @include transition;
  }

  &__item {
    cursor: pointer;
    display: block;
    margin: 0 .5em;

    &__link,
    &__logo {
      border-bottom: transparent 2px solid;
      color: $gray-dark;
      display: block;
      text-decoration: none;
    }
    
    &__link {
      &:hover,
      &.active {
        border-bottom-color: $green;
        transform: scale(1.05, 1.05);
      }
    }
  }
}