@import "./../services/consatants.scss";
@import "./../services/placeholders.scss";
@import "./../services/mixins.scss";

.login-form {
  $this: &;

  color: $gray;
  margin: 1em auto;
  max-width: 420px;
  transition: all .2s;

  &__fieldset {
    border: none;
  }

  &__title {
    text-align: center;
    width: 100%;
  }

  &__input-data {
    margin: 1em 0;
    position: relative;

    * {
      @include transition;
    }
  }

  &__input {
    background: none;
    border: none;
    width: 100%;
    opacity: 0;
    padding: .5em;

    @include placeholder {
      color: $gray;
    }

    &:required {
      @include box-shadow(none);
    }

    &:focus,
    &.correct {
      opacity: 1;

      ~#{$this}__label {
        cursor: default;
        color: $blue-light;
        top: -1em;
      }

      ~#{$this}__subline {
        &:after {
          transform: scaleX(1);
        }
      }
    }

    &.error {
      ~#{$this}__label {
        color: $red;
      }

      ~#{$this}__subline {
        &:after {
          background: $red;
          transform: scaleX(1);
        }
      }
    }
  }

  &__label {
    @include user-select(none);
    left: 0;
    cursor: text;
    position: absolute;
    top: 0;
  }

  &__subline {
    background: $form-border;
    border: none;
    height: 1px;
    position: relative;

    &:after {
      @include transition;
      background: $blue-light;
      content: "";
      height: 2px;
      left: 0;
      position: absolute;
      top: -1px;
      transform: scaleX(0);
      width: 100%;
    }
  }

  &__submit {
    display: block;
    margin: auto;
  }
}